body {
  background-color: gainsboro;
  padding: 0;
  margin: 0;
  height: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  padding-bottom: 10px;
  padding-top: 10px
}

p {
}

div.main-wrapper {
  width: 800px;
  margin: auto;
  border-left: solid 1px grey;
  border-right: solid 1px grey;
  min-height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  background-color: beige;   
}
